@charset "UTF-8";
/* CSS Document */


body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 100%;
	background-color: #2c3e50;
	margin: 0;
	padding: 0;
	
}
/* ~~ Element/tag selectors ~~ */
ul { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	list-style-type:none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.level{
	float:center;
}
#levelLabel{
	color: #f1c40f;
	font-size: 3em;
	text-align:center;
}
#next-container{
	text-align: center;

}

#next{
	color: #ecf0f1;
	font-size: 1em;
	display: inline-block;

}

#back{
	float:left;
	color: #f1c40f;
}

#score{
	float:right;
}

#start{
	text-align:center;
	font-size: 2em;
}

#title{
	/*text-align: center;*/
	color: #f1c40f;  /* colour = sunflower*/
	font-size: 10em;
	display: block;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

#gameover{
	/*text-align: center;*/
	display: block;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}


h1, p , a {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 20px;
	padding-left: 20px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
	color: #ecf0f1;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color: #ecf0f1;
	text-decoration: none;
}

/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	width: 960px;
	background-color: #FFFFFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	background-color: #2c3e50;
	padding-top: 10px;
	padding-bottom: 15px;
	height: 1em;
}


/* ~~ The footer ~~ */
footer {
	padding: 10px 0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, article, figure {
	display: block;
}


